<!DOCTYPE html>
<html lang="am">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETHIOBET - ኦንላይን ጨዋታዎች እና የመዝናኛ ፕላትፎርም</title>
    <meta name="description" content="እንኳን ወደ ETHIOBET በደህና መጡ! ምርጥ የኦንላይን ጨዋታዎችን፣ አቪዬተርን እና ኬኖን በደህና ሁኔታ ይጫወቱ።">
    <meta name="keywords" content="ETHIOBET, ethiobet, ኢትዮቤት, አቪዬተር, ኬኖ, aviator, keno, game ethiopia, online game">
    <meta name="google-site-verification" content="nup0GQ6hYkA57wXjtXvAdY5gUvLxF2dOgpAHfi_bScg" />
</head>
<body>
    <h1>Welcome to ETHIOBET</h1>
</body>
</html>
